<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javi.ejercicio_jmedinilla" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/game_center"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EJ_UNO"
            android:label="@string/title_activity_primero"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EJ_DOS"
            android:label="@string/title_activity_segundo" >
        </activity>
        <activity
            android:name=".EJ_TRES"
            android:label="@string/title_activity_tercero" >
        </activity>
        <activity
            android:name=".EJ_CUATRO"
            android:label="@string/title_activity_cuarto">
        </activity>
        <activity
            android:name=".EJ_CINCO"
            android:label="@string/title_activity_quinto"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ElegirCambio"
            android:label="@string/title_activity_elegir_cambio"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CRAPS"
            android:label="@string/title_activity_craps"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
